* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    background: #ffffff;
    color: #222;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    border-bottom: 1px solid #DDDDDD;
}

.accent {
    color: #581ADB;
}

.language img {
    width: 24px;
}

/* BACK */
.back {
    display: inline-block;
    margin: 40px;
    padding: 8px 16px;
    border: 1px solid #DDDDDD;
    border-radius: 60px;
    color: #717171;
    text-decoration: none;
}

/* NAV */
.nav {
    display: flex;
    justify-content: center;
}

.steps {
    display: flex;
    gap: 16px;
    list-style: none;
    padding: 0;
}

.step {
    display: flex;
    align-items: center;
    gap: 8px;

    padding: 8px 16px;
    border: 1px solid #DDDDDD;
    border-radius: 60px;

    color: #717171;
}

.step img {
    width: 16px;
}

.step.active {
    border-color: #581ADB;
    color: #581ADB;
    font-weight: 600;
}

/* MAIN */
.container {
    max-width: 1100px;
    margin: 40px auto;
    display: grid;
    gap: 24px;
}

h1 {
    color: #581ADB;
}

/* ACCOUNT */
.account-section {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    gap: 20px;
}

.account-card,
.disclaimer {
    background: white;
    border-radius: 12px;
    padding: 20px;
    color: #717171;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
     box-shadow: 0 6px 18px rgba(0,0,0,0.08);
}

.account-card {
    display: grid;
    grid-template-columns: 220px 1fr;
    gap: 20px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.08);
    padding: 0;
    height: fit-content;

    background: #fff;
    border-radius: 12px;
    overflow: hidden; 
}

/* AVATAR */
.avatar img {
    display: block;       
    width: 220px;
    height: 100%;
    object-fit: cover;

    border-radius: 12px 0 0 12px;
}

/* INFO */
.account-info {
    padding: 20px 40px 20px 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* NAME */
.name {
    margin-top: 10px;
    font-weight: 700;
    font-size: 20px;
    color: #222222;

    display: flex;
    align-items: center;
    gap: 8px;
}

.edit {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

/* CHANGE PHOTO */
.change-photo {
    margin-top: 10px;
    padding: 6px 12px;

    display: inline-flex;
    align-items: center;
    gap: 8px;

    border-radius: 20px;
    border: 1px solid #DDDDDD;
    background: white;

    color: #717171;
    font-size: 16px;
    cursor: pointer;
}

.change-photo:hover {
    background-color: #f0f0f0;
}

/* CAMERA ICON */
.camera-icon {
    width: 16px;
    height: 16px;
}


/* FORM */
.profile-form {
  max-width: 1100px;
  background: #fff;
  border-radius: 18px;
  padding: 32px 40px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
  font-family: Arial, sans-serif;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 80px;
}

.form-col {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

/* INPUTS & SELECTS */
input,
select {
  width: 100%;
  padding: 16px 20px;
  border-radius: 999px;
  border: 1px solid #e0e0e0;
  font-size: 15px;
  color: #717171;
  outline: none;
  background: #fff;
}

input::placeholder {
  color: #999;
}

/* SELECT ARROW */
.form-field.select select {
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='8'%3E%3Cpath d='M1 1l6 6 6-6' stroke='%23999' fill='none' stroke-width='2'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 18px center;
}

/* HELPER TEXT */
.hint {
  font-size: 13px;
  color: #777;
  padding-left: 18px;
}

/* NOTE */
.note {
  font-size: 13px;
  color: #bbb;
  margin-top: 8px;
  line-height: 1.4;
}

/* FOCUS STATE */
input:focus,
select:focus {
  border-color: #6a00ff;
}


/* BOOKING */

h2{
    color: #717171;
    font-size: 16px;
    font-weight: 400;
}

.room-card {
  display: flex;
  max-width: 800px;
  height: 250px;
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  overflow: hidden;
  font-family: Arial, sans-serif;
}

/* IMAGE */
.room-image {
  width: 40%;
  background: #eaeaea;
}

.room-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* CONTENT */
.room-content {
  width: 60%;
  padding: 20px 24px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.room-title {
  font-size: 20px;
  color: #222222;
  font-weight: 600;
  margin: 0;
}

/* INFO ROWS */
.room-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.info-row {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 400;
  font-size: 16px;
  color: #717171;
}

.info-row img {
  width: 20px;
  height: 20px;
}

/* FEATURES */
.room-features {
  display: flex;
  gap: 20px;
  margin-top: 50px;
}

.feature {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  color: #555;
}

.feature img {
  width: 18px;
  height: 18px;
}

/* FREE CANCELLATION */
.room-cancel {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: #581ADB;
  font-weight: 500;
  margin-bottom: 20px;
}

.room-cancel img {
  width: 18px;
  height: 18px;
}

.booking-side {
  width: 300px;
  padding: 18px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

/* TOP SUMMARY BOXES */
.booking-summary {
  display: flex;
  gap: 12px;
}

.summary-box {
  flex: 1;
  border: 1px solid #e0e0e0;
  border-radius: 14px;
  padding: 14px 10px;
  text-align: center;
  font-size: 14px;
  color: #555;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.summary-box img {
  width: 22px;
  height: 22px;
}

/* BUTTONS */
.booking-actions {
  display: flex;
  gap: 14px;
}

.btn-outline {
  flex: 1;
  padding: 16px 0;
  background: transparent;
  border: 1px solid #581ADB;
  border-radius: 14px;
  height: 80px;
  width: 125px;
  color: #581ADB;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.btn-outline:hover {
  background: #581ADB;
  color: #fff;
}

/* FOOTER */
.booking-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.booking-footer a {
  color: #581ADB;
  text-decoration: none;
  font-weight: 500;
}

.booking-footer a:hover {
  text-decoration: underline;
}

.time-left {
  color: #777;
}

.bookings-section {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

/* REVIEWS */
.reviews {
    background: white;
    border: 1px solid #DDDDDD;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 40px;
    color: #717171;
    height: 232px;
    margin-bottom: 200px;
}

.reviews img{
    width: 20px;
}
